// Shelagh Storla
// 29OCT2018
// CPNT 262 - PHP
// Mid-Term Assignment

// Colors
$body-bg: #fff;
$dark: #292929;
$green: #018F69;
$light: #757575;

// Typography
$main: 'Martel Sans', sans-serif;
$brand: 'Playfair Display', serif;
$fz-sm: 10.2px;
$fz-main: 13.8px;
$fz-title: 18.6px;
$fz-feature: 38px;
$fz-brand: 27.8px;
