// @author Shelagh Storla
// @date 29OCT2018
// CPNT 262 - PHP
// Mid-Term Assignment

// Fonts
@import url('https://fonts.googleapis.com/css?family=Martel+Sans:400,900|Playfair+Display:900');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
  font-family: $main;
  font-size: $fz-main;
  letter-spacing: 0;
  color: $light;
}

header {
  height: 55px;
  box-shadow: 0 4px 12px 0 rgba(0,0,0,.05);
  color: $dark;
}

nav {
  height: 55px;
}

main {
  margin-top: 75px;
}

h1 {
  font-family: $brand;
  font-weight: 900;
  font-size: $fz-brand;
}

h1, 
h2,
h3,
h4 {
  margin-bottom: 0;
}

a {
  color: $light;
}

a:hover {
  color: $light;
  text-decoration: none;
}

// Utility Classes
.flex {
  display: flex;
}

.flex-v {
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.align-bottom {
  align-items: flex-end;
}

.v-align-middle {
  vertical-align: middle;
}

.bold {
  font-weight: 900;
}

.uppercase {
  text-transform: uppercase;
}

.ml-56 {
  margin-left: 56px;
}

.ml-16 {
  margin-left: 16px;
}

.mt-14 {
  margin-top: 14px;
}

.dark {
  color: $dark;
}

.hr {
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  margin-bottom: 25px;
}

.vr {
  padding-right: 10px;
  border-right: 1px solid rgba(0,0,0,0.2);
}

// Components
.btn:hover {
  color: $dark;
  background: none;
}

.green-btn {
  color: $green;
  background: transparent;
  border: 1px solid $green;
  border-radius: 4px;
  padding: 8px 16px;
}

.green-btn:hover {
  color: $green;
}

.featured-image {
  height: 385px;
}

.article-image {
  height: 104px;
  width: 160px;
}

.article-image-sm {
  height: 55px;
  width: 55px;
}

.author-image-sm {
  border-radius: 50%;
  height: 45px;
}

.featured-title {
  font-size: $fz-feature;
  font-weight: 900;
}

.article-title {
  font-size: $fz-title;
  font-weight: 900;
}

.article {
  min-width: 460px;
}

.pop-title {
  font-size: $fz-main;
  font-weight: 900;
}

.sub-head {
  font-size: $fz-main;
  text-transform: uppercase;
  font-weight: 900;
}

.topic-title-main {
  font-size: $fz-title;
  padding-left: 10px;
  vertical-align: bottom;
  letter-spacing: -1px;
}

.topic-title {
  font-weight: 900;
  color: $dark;
  font-size: $fz-title;
}
