
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

$bgColor: #e6ecf0;
$linkColor: #1DA1F2;
$defaultFontSize: 14px;


body {
  background-color: $bgColor;
  font-size: $defaultFontSize;
}

a {
  color: $linkColor;
}

.bg-white {
  background-color: #fff;
}

.bg-0 {
  background-color: #eee;
}

.bg-1 {
  background-color: #ccc;
}

.bg-2 {
  background-color: #aaa;
}

.bg-3 {
  background-color: #777;
}

.c-1 {
  color: #657786;
}



.flex {
  display: flex;
}

.flex-v {
  flex-direction: column;
}

.flex-1 {
  flex: 1;
}

.full-page {
  height: 100vh;
}

.half-width {
  width: 50vw;
}

.justify-center {
  justify-content: center;
}

.pr-s {
  padding-right: 5px;
}

.pr-15 {
  padding-right: 15px;
}

.pr-25 {
  padding-right: 25px;
}

.pl-15 {
  padding-left: 15px;
}

.pl-50 {
  padding-left: 50px;
}

.ptb-20 {
  padding: 20px 0;
}

.pt-10 {
  padding-top: 10px;
}

.pb-10 {
  padding-bottom: 10px;
}

.mlr-10 {
  margin: 0 10px;
}

.ml-250 {
  margin-left: 250px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mt-50 {
  margin-top: 50px;
}

.fz-s {
  font-size: 12px;
}

.fz-m {
  font-size: 18px;
}

.fz-l {
  font-size: 21px;
}

.fw-bold {
  font-weight: bold;
}

.border-bottom {
  border-bottom: 1px solid #657786;
}

.border-bottom-shadow {
  box-shadow: 1px 1px 5px 0px rgba(101, 119, 134, 0.6);
}

.circular {
  border-radius: 50%;
}

.img-sm {
  width: 50px;
}

.profile-img {
  width: 200px;
  height: 200px;
  z-index: 1;
  position: absolute;
  top: -200px;
  right: 50px;
  border: 5px solid white;
}

.relative {
  position: relative;
}


.hero {
  background-size: cover;
  height: 325px;
}
